<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>462618910715-o35ivrfj8q1ghig4mdmjno4msd3glu18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462618910715-o35ivrfj8q1ghig4mdmjno4msd3glu18</string>
	<key>API_KEY</key>
	<string>AIzaSyBdg8XRS3EQYBnkSLqxp3gyKtfYzIlPcvw</string>
	<key>GCM_SENDER_ID</key>
	<string>462618910715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.itelab.SocialApp</string>
	<key>PROJECT_ID</key>
	<string>social-4e7c4</string>
	<key>STORAGE_BUCKET</key>
	<string>social-4e7c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:462618910715:ios:26b7d17a7d42834e</string>
	<key>DATABASE_URL</key>
	<string>https://social-4e7c4.firebaseio.com</string>
</dict>
</plist>